@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl font-semibold mb-1;
  }
  h2 {
    @apply text-lg font-semibold mb-1;
  }
  h3 {
    @apply text-sm font-semibold mb-1;
  }
  h4 {
    @apply text-sm font-semibold;
  }
  h5 {
    @apply text-sm font-semibold;
  }
  a {
    @apply text-blue-600 underline;
  }
  ul {
    @apply list-disc list-inside ml-1;
  }
  ol {
    @apply list-decimal list-inside ml-1;
  }
  code {
    @apply bg-secondary rounded-md px-1 text-sm font-medium font-mono;
  }
  pre {
    @apply m-1 w-fit bg-secondary rounded-md p-1 text-sm font-medium font-mono;
  }
  table {
    @apply m-1 border-separate border-spacing-0 table-auto text-center;
  }
  table tr th,
  table tr td {
    @apply px-2 border-b border-r;
  }
  table tr th:first-child,
  table tr td:first-child {
    @apply border-l;
  }
  table tr th {
    @apply bg-secondary border-t;
  }
  table tr td {
    @apply bg-background;
  }
  /* top-left border-radius */
  table tr:first-child th:first-child {
    @apply rounded-tl-md;
  }

  /* top-right border-radius */
  table tr:first-child th:last-child {
    @apply rounded-tr-md;
  }

  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    @apply rounded-bl-md;
  }

  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    @apply rounded-br-md;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

body {
  /* @apply bg-background text-foreground; */
  overflow: hidden !important;
}
/* ::-webkit-scrollbar {
  display: none;
} */

#drag-region {
  -webkit-app-region: drag;
  cursor: pointer;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  display: flex;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 0.5;
  background-color: #00000015;
  border-radius: 7px;
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: #666666;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 7px;
}

.scrollbar-track-blue-darker:-webkit-scrollbar-track {
  --bg-opacity: 1;
}
